    <%- include('../includes/head.ejs') %>
  </head>

  <body>
     <%- include('../includes/navigation.ejs') %>
    <main>
      <form class="product-form" action="/admin/add-product" method="POST">
        <section>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </section>
        <section>
          <label for="imageUrl">Image URL</label>
          <input type="text" name="imageUrl" id="imageUrl" />
        </section>
        <section>
          <label for="price">Price</label>
          <input type="number" name="price" id="price" />
        </section>
        <section>
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </section>
        <button type="submit">
            Add Product Info
          </button>
      </form>
    </main>
<%- include('../includes/end.ejs') %>
