    <%- include('../includes/head.ejs') %>
  </head>

  <body>
     <%- include('../includes/navigation.ejs') %>
    <main>
        <section>
          <p>I am the admin product</p>
        </section>
    </main>
<%- include('../includes/end.ejs') %>
