    <%- include('includes/head.ejs') %>
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header-nav">
        <ul class="main-header-item-list">
          <li class="main-header-items"><a class="active" href="/">Shop</a></li>
          <li class="main-header-items">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <% if(prods.length > 0){ %>
      <h1>My Products</h1>
      <p>List off all of our Products</p>
      <section>
        <% for (let product of prods) { %>
        <h2><%= product.title %></h2>
        <img
          src="https://cdn.pixabay.com/photo/2023/12/08/23/46/cat-8438334_1280.jpg"
          alt="A Book from ejs file"
        />
        <% } %>
      </section>
    </main>
    <% } else { %>
    <p>No products found.</p>
    <% } %>
  </body>
</html>
