<%- include('../includes/head.ejs') %>
</head>


<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <section>I am the checkout</section>
    </main>

<%- include('../includes/end.ejs') %>